# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages

# Builds
build/
.idea/
.vscode/

# Platform artifacts
ios/Pods/
android/.gradle/
android/app/build/

# Secrets
.env
*.keystore
*.jks
